<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/css/verified.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur&family=Tilt+Prism&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐧</text></svg>">
    <title>AlgoBuzz</title>
</head>
<body>
    <div class="container">
      
      <div class="image"> <img src="https://cdn.goodmorningtech.news/website/landing-page/landing-img.svg" alt=""></div>

      <div class="content">
        <h1>AlgoBuzz</h1>
        <p>A puzzle to unroll, each day on LeetCode's scroll</p>
        <div>
          <div>
            <form method="POST" action="send">
              <div>
                <h2>Successfully Subscribed</h2>
              </div> 
            </form>
          </div>
        </div>
      </div>
      </div>

</body>
</html>
